/* --------------- General --------------- */

:root {
    --primary-color: #4CAF50;
    --secondary-color: #c06d0f;
    --dark-accent-color: #795548;
    --light-accent-color: #EFEFFF;

    --nav-height: 150px;


}

body {
    margin: 0;
    background-color: var(--light-accent-color);
}


/* --------------- Header --------------- */

#logo {
    height: 100%;
}

nav {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    background-color: var(--secondary-color);
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%; height: 100%;
    padding: 0; margin: 0;
}

nav li {
    width: 100%; height: 100%;
    text-align: center;
    overflow: none;
}

nav li:hover {
    background-color: var(--dark-accent-color);
}

nav li > a {
    font-size: 1.4rem;
    line-height: var(--nav-height);
    text-decoration: none;
    color: var(--light-accent-color);
}


/* --------------- Main --------------- */

main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 100px;
}

main h1 {
    margin: 0 auto;
    text-align: center;
}

main section {
    padding: 30px;
}

/* ----- Filters ----- */

.filters-section {
    min-width: 120px;
}

.filters-section label {
    display: block;
    margin-top: 25px;
}

.filters-section input {
    width: 100%;
    box-sizing: border-box;
}

#search {
    margin-top: 25px;
    width: 100%;
}

/* ----- Recipes ----- */

.recipes-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: var(--primary-color) solid 4px;
    background-color: var(--primary-color);
}

.recipes article {
    margin: 0;
    border: var(--primary-color) solid 4px;
    background-color: var(--primary-color);
    color: var(--light-accent-color);
}

figure {
    margin: 0;
}

figure img {
    width: 100%;
}

figcaption {
    text-align: center;
}

.expanded {
    grid-row: span 2;
}

article div {
    display: none;
}

.expanded div {
    display: block;
}

/* --------------- Footer --------------- */

footer {
    background-color: var(--secondary-color);
    color: var(--light-accent-color);
    height: calc(var(--nav-height) / 2);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

footer p {
    font-size: 1.2rem;
}

footer a {
    font-size: 1.2rem;
    color: var(--primary-color);
    text-decoration: none;
}

footer a:hover {
    color: var(--light-accent-color);
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    main {
        display: block;
    }
    .filters-section label {
        margin-top: 10px;
    }
}